<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Qaryan.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Qaryan.GUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Qaryan.Core.Properties.Settings>
            <setting name="EnginePath" serializeAs="String">
                <value>C:\documents and settings\moti z\my documents\sharpdevelop projects\heb2pho refactor\</value>
            </setting>
        </Qaryan.Core.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Qaryan.GUI.Settings>
            <setting name="Voice" serializeAs="String">
                <value>Esther</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="StartupFile" serializeAs="String">
                <value>Start.txt</value>
            </setting>
            <setting name="FujisakiAlpha" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FujisakiBeta" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FujisakiGamma" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="FujisakiFb" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>David, 26.25pt</value>
            </setting>
            <setting name="Form1Pos" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MbrolaFormVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MbrolaFormPos" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FujisakiFormVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FujisakiFormSize" serializeAs="String">
                <value>441, 441</value>
            </setting>
            <setting name="MbrolaFormSize" serializeAs="String">
                <value>441, 441</value>
            </setting>
            <setting name="TranslitFormVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranslitFormPos" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="TranslitFormSize" serializeAs="String">
                <value>441, 441</value>
            </setting>
            <setting name="FujisakiFormPos" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="RelaxAudibleSchwa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistinguishStrongDagesh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AkanyeIkanye" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EverydayRegister" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Milel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1Size" serializeAs="String">
                <value>643, 441</value>
            </setting>
            <setting name="Form1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UseNikudMethod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NikudHelpVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NikudHelpPos" serializeAs="String">
                <value>200, 200</value>
            </setting>
        </Qaryan.GUI.Settings>
    </userSettings>
</configuration>